{% extends 'base.html' %}

{% block content %}
  <div class="row mt-2">
    <div class="col-sm-6 offset-sm-3">
      <h2>Login</h2>
      <form id="loginForm">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="alert alert-warning mt-2 text-dark collapse" id="loginError">
        An error occured during login
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $("form").submit(function(e) {
      const username = $("#usernameInput").val();
      const password = $("#passwordInput").val();
      
      $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/users/authenticate",
        data: JSON.stringify({username: username, password: password}),
        success: function(data) {
          if(data.success) {
            window.location.href = "/";
          } else {
            $('#loginError').show();
            $('#loginError').delay(2000);
            $('#loginError').fadeOut(1000);
          }
        },
        dataType: 'json',
      });

      return false;
    });
  </script>
{% endblock %}
