{% extends 'base.html' %}

{% block content %}
  <div class="row mt-2">
    <div class="col-sm-6 offset-sm-3">
      <h2>Register</h2>
      <form id="registerForm">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control" id="usernameInput" placeholder="Username" name="username">
          <small id="noUser" class="form-text text-danger collapse">Username is required!</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
          <small id="noPass" class="form-text text-danger collapse">Password is required!</small>
        </div>
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password">
          <small id="noMatch" class="form-text text-danger collapse">Passwords do not match</small>
        </div>
        <button type="submit" class="btn btn-primary" id="regButton">Register</button>
        <div class="alert alert-warning mt-2 text-dark collapse" id="registerError">
          An error occured during registration
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $("form").submit(function(e) {
      const username = $("#usernameInput").val();
      const password = $("#passwordInput").val();
      const confirm = $("#passwordConfirm").val();

      if (password == confirm && password.length > 0 && username.length > 0) {
        $.post("/register", {username: username, password: password}, function(data) {
          if(data.success) {
            window.location.href = "/";
          } else {
            $('#registerError').show();
            $('#registerError').delay(2000);
            $('#registerError').fadeOut(1000);
          }
        });
      } else {
        $('#noPass').hide();
        $('#noUser').hide();

        if (password.length == 0) {
          $('#noPass').show();
        }

        if (username.length == 0) {
          $('#noUser').show();
        }
      }

      


      return false;
    });

    function passChange() {
      const password = $("#passwordInput").val();
      const confirm = $("#passwordConfirm").val();

      if (password != confirm) {
        $('#noMatch').show();
      } else {
        $('#noMatch').hide();
      }
    }

    $("#passwordConfirm").keyup(passChange);
  </script>
{% endblock %}
